button {
    font-size: 20px;
    width: 100%;
    min-height: 80px;
    
    border-radius: 2px;
    border: 1px solid #000;
    color: #000;
    background-color: transparent;
    transition: 0.4s;
  }
  
  button:hover {
    border: 1px solid #fff;
    color: #fff;
    background-color: #000;
  }