* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  height: 60px;
  width: 100%;

  padding: 0 10px;

  border: 1px solid #000000;
  border-radius: 2px;

  font-size: 16px;

  background-color: transparent;
}

textarea {
  width: 100%;

  border-radius: 2px;

  resize: none;
  border: 1px #000 solid;

  padding: 0.5rem;

  font-size: 16px;

  height: 150px;
}

input[type="submit"] {
  background: #000000;
  color: white;
  transition: 0.4s;
}

input[type="submit"]:hover {
  background: #fff;
  color: black;
}

button {
  font-size: 20px;
  width: 100%;
  min-height: 80px;

  border-radius: 2px;
  border: 1px solid #000;
  color: #000;
  background-color: transparent;
  transition: 0.4s;
}

button:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: #000;
}
