.kanban {
  width: 100%;
  min-height: 33vh;
  height: 100%;

  padding-top: 3rem;
  margin: 3rem;

  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 25px;
}

.listHeader h1 {
  font-weight: 500;
  font-size: 20px;
}
